img {
    border-radius: 20px;
}

h1 {
    font-size: 44px;
    color: blueviolet;
}

h3 {
    color: blue;
    font-size: 22px;
}

h4 {
    color: rgb(99, 7, 237);
}

.button {
    padding: 8px;
    margin-top: 20px;
    background-color: rgb(225, 164, 252);
    border-radius: 8px;
    border: 1px solid;
    text-decoration: none;
}

body {
    margin-top: 20px;
}